*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.config
db/*
client/*
!.gitkeep
.bash_history
.npm
rundir/*
!rundir/.gitkeep