.app-practice-detail {
    width: 100%;
    height: 100px;
}

.button-area {
    margin-top: 5px;
    width: 100%;
    height: 45px;
}

.button-area button {
    float: right;
}

.ace_editor {
    height: 300px; 
    width:100%; 
    overflow: auto;
}